{% extends "layout.html" %}

{% block content %}
    <h2>Welcome to Your Account, {{ current_user.username }}!</h2>

    <p>Your email: {{ current_user.email }}</p>

    <h3>User Activity:</h3>
    <p>Number of journal entries: {{ current_user.journal_entry_count }}</p>
    <p>Last login: {{ current_user.last_login }}</p>
    

    <h3>Account Management Options:</h3>
    <ul>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>

    <a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}