{% extends "layout.html" %}

{% block content %}
    <h1>How are you feeling today?</h1>

    <form action="/save_mood_journal" method="POST">
        <fieldset>
            <div>
                {{ form.mood.label(class="form-control-label") }}
                {{ form.mood(class="form-control form-control-lg") }}
            </div>
            <div>
                {{ form.journal.label(class="form-control-label") }}
                {{ form.journal(class="form-control form-control-lg") }}
            </div>

        </fieldset>
        
        <div>
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        
    </form>
{% endblock %}
