{% extends "layout.html" %}

{% block content %}
    <h1>Welcome to the Mood Tracking and Journaling Web App</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/sign_up">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <main>
        <h2>Your Emotional Well-being Matters</h2>
        <p>Track your daily moods and journal your thoughts for better self-awareness and emotional well-being.</p>
    </main>

    <footer>
        <p>&copy; 2023 Mood Tracking and Journaling Web App. All rights reserved.</p>
    </footer>
{% endblock %}
